[submodule "packages/plugin-sdk"]
	path = packages/plugin-sdk
	url = https://github.com/Command-IDE/plugin-sdk
[submodule "packages/notepad"]
	path = packages/notepad
	url = https://github.com/Command-IDE/notepad
[submodule "app/themes"]
	path = app/themes
	url = https://github.com/Command-IDE/themes
[submodule "packages/git"]
	path = packages/git
	url = https://github.com/Command-IDE/git
[submodule "packages/ai-plugin"]
	path = packages/ai-plugin
	url = https://github.com/Command-IDE/ai-plugin
