[submodule "packages/plugin-sdk"]
	path = packages/plugin-sdk
	url = https://github.com/Command-IDE/plugin-sdk
[submodule "packages/notepad"]
	path = packages/notepad
	url = https://github.com/Command-IDE/notepad
[submodule "app/terminal"]
	path = app/terminal
	url = https://github.com/Command-IDE/terminal
[submodule "app/powershell"]
	path = app/powershell
	url = https://github.com/Command-IDE/powershell
[submodule "app/bash"]
	path = app/bash
	url = https://github.com/Command-IDE/bash
[submodule "app/zsh"]
	path = app/zsh
	url = https://github.com/Command-IDE/zsh
[submodule "app/themes"]
	path = app/themes
	url = https://github.com/Command-IDE/themes
